<style>
  .content-frame {
    padding: 24px 24px 24px 24px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  
  .flex-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .flex-container .stretch-to-fit {
    flex: 0 1 auto;
  }

  .flex-container .fill-remaining {
    flex: 1 1 auto;
    overflow: hidden;
  }

  .button-row {
    display: flex;
    align-items: center;
  }
</style>

 

<div class="content-frame">
  <div class="flex-container">
    <div class="stretch-to-fit">
      <h1>Codeforces Options</h1>
      <div style="display: inline-block;">
        <div style="width: 240px;">
          <mat-form-field style="width: 100%;">
            <mat-label>Codeforces Contest ID</mat-label>
            <input matInput type="number" min="1" placeholder="e.g. 1768" [formControl]="codeforcesFormGroup.controls.contestID" (keydown.enter)="codeforcesFormGroup.status === 'VALID' && updateCodeforces()" />
            <mat-error>
              Must be a <strong>positive number</strong>.
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 100%;">
            <mat-label>Codeforces Handle</mat-label>
            <input matInput type="text" placeholder="e.g. megaspazz" [formControl]="codeforcesFormGroup.controls.userName" (keydown.enter)="codeforcesFormGroup.status === 'VALID' && updateCodeforces()" />
            <mat-error *ngIf="codeforcesFormGroup.controls.userName.hasError('required')">
              Handle is <strong>required</strong>.
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" style="width: 100%;" [disabled]="isLoadingCodeforcesData || codeforcesFormGroup.status !== 'VALID'" (click)="updateCodeforces()">Submit</button>
        </div>
      </div>
      <h1 style="margin-top: 24px;">Codeforces Line Chart</h1>
    </div>
    <div class="fill-remaining" style="min-width: 400px; min-height: 300px;">
      <div style="height: 100%;">
        <canvas baseChart
          [data]="lineDatasets"
          [legend]="lineLegend"
          [options]="lineOptions"
          [type]="'line'"
        ></canvas>
      </div>
    </div>
  </div>
</div>

<!-- <div>
  <label>
    <span>Codeforces contest ID:</span>
    <input type="number" min="1" [(ngModel)]="codeforcesContestID" (keydown.enter)="updateCodeforces()" />
  </label>
</div> -->
<!-- <div>
  <label>
    <span>Codeforces handle:</span>
    <input type="text" [(ngModel)]="codeforcesUserName" (keydown.enter)="updateCodeforces()" />
  </label>
</div>
<input type="button" value="Submit" (click)="updateCodeforces()" /> -->



<div style="display: none;"><h1>Observable</h1>
  <div id="divOutputObservable">
    {{ output$ | async }}
  </div>
  
  <h1>String</h1>
  <div id="divOutputString">
    {{ output }}
  </div>
  
  <h1>Array</h1>
  <div id="divOutputArray">
    <div *ngFor="let line of outputArray">
      {{ line }}
    </div>
  </div>
  
  <h1>Any</h1>
  <div id="divOutputAny">
    {{ answer$ | async }}
  </div>

  <h1>Codeforces Scatter Chart</h1>
  <canvas baseChart
    [datasets]="scatterDatasets"
    [legend]="scatterLegend"
    [options]="scatterOptions"
    [type]="'scatter'"
  >
  </canvas>

  <h1>Codeforces Table</h1>
  <table>
    <tr>
      <th style="padding: 4px 8px 4px 8px;">Time</th>
      <th style="padding: 4px 8px 4px 8px;">Rank</th>
    </tr>
    <tr *ngFor="let timeRank of (standings$ | async)">
      <td style="padding: 4px 8px 4px 8px;">{{ timeRank.time * 1000 | date:'H:mm:ss':'GMT' }}</td>
      <td style="padding: 4px 8px 4px 8px;">{{ timeRank.rank }}</td>
    </tr>
    <tr>
  
    </tr>
  </table>
  
  <h1>Subject</h1>
    <div id="divOutputSubject">
  </div>
</div>